body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.layout-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flx-header{
    padding:30px;
    background-color: #104df6;
}

.flx-main-container{
    display: flex;
    flex: 1;
}

.flx-nav,.flx-aside{
    background-color: #e310f6;
    padding: 30px;

}

.flx-article-section{
    background-color: #f6f6f6;
    padding: 30px;
    flex: 4;
}

.flx-footer{
    background-color:red;
    padding: 30px;
}